:root {
  --MENU-BORDER: #000000;
  --MENU-COLOR: #4d4d4d;
  --BUTTON-COLOR: #1a1718;

  --BACKGROUND-LINEAR-1: #efe7ff;
  --BACKGROUND-LINEAR-2: #fbfbfb;

  --PRIMARY-COLOR: #23a4ad;
  --GRAY-COLOR: #d9d9d9;
  --GRAY-CART-COLOR: #f7f7f7;

  --PRICE-BACKGROUND: #e9ebe4;
}
